<form class="edit-user-component p-fluid p-formgrid p-grid" [formGroup]="userForm" (ngSubmit)="saveUser()">
  <div class="p-field p-col-12 p-md-6">
    <label for="name">نام</label>
    <input type="text"
           id="name"
           [ngClass]="[this.userForm.controls.NAME.invalid && (this.userForm.controls.NAME.dirty || this.userForm.controls.NAME.touched)  ?'ng-invalid ng-dirty':'']"
           required
           formControlName="NAME"
           pInputText
           [(ngModel)]="user.NAME"/>
    <div
      *ngIf="this.userForm.controls.NAME.invalid && (this.userForm.controls.NAME.dirty || this.userForm.controls.NAME.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2">

      <div *ngIf="this.userForm.controls.NAME.errors?.required" >
       <i class="bi bi-exclamation-circle"></i> نام اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="txt-user-family">نام خانوادگی</label>
    <input type="text"
           id="txt-user-family"
           required
           formControlName="FAMILY"
           pInputText
           [ngClass]="[this.userForm.controls.FAMILY.invalid && (this.userForm.controls.FAMILY.dirty || this.userForm.controls.FAMILY.touched)  ?'ng-invalid ng-dirty':'']"
           [(ngModel)]="user.FAMILY"/>
    <div
      *ngIf="this.userForm.controls.FAMILY.invalid && (this.userForm.controls.FAMILY.dirty || this.userForm.controls.FAMILY.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2">

      <div *ngIf="this.userForm.controls.FAMILY.errors?.required" >
        <i class="bi bi-exclamation-circle"></i> نام خانوادگی اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="txt-user-nationalCode">کد ملی</label>
    <input type="text"
           id="txt-user-nationalCode"
           required
           formControlName="NATIONAL_CODE"
           pInputText
           [ngClass]="[this.userForm.controls.NATIONAL_CODE.invalid && (this.userForm.controls.NATIONAL_CODE.dirty || this.userForm.controls.NATIONAL_CODE.touched)  ?'ng-invalid ng-dirty':'']"
           [(ngModel)]="user.NATIONAL_CODE"/>
    <div
      *ngIf="this.userForm.controls.NATIONAL_CODE.invalid && (this.userForm.controls.NATIONAL_CODE.dirty || this.userForm.controls.NATIONAL_CODE.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2">

      <div *ngIf="this.userForm.controls.NATIONAL_CODE.errors?.required" >
        <i class="bi bi-exclamation-circle"></i> کد ملی اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="txt-user-mobile">مبایل</label>
    <input type="text"
           id="txt-user-mobile"
           required
           formControlName="MOBILE"
           pInputText
           [ngClass]="[this.userForm.controls.MOBILE.invalid && (this.userForm.controls.MOBILE.dirty || this.userForm.controls.MOBILE.touched)  ?'ng-invalid ng-dirty':'']"
           [(ngModel)]="user.MOBILE"/>
    <div
      *ngIf="this.userForm.controls.MOBILE.invalid && (this.userForm.controls.MOBILE.dirty || this.userForm.controls.MOBILE.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2">

      <div *ngIf="this.userForm.controls.MOBILE.errors?.required" >
        <i class="bi bi-exclamation-circle"></i> شماره تماس اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="txt-user-email">پست الکترونیکی</label>
    <input type="text"
           id="txt-user-email"
           required
           formControlName="EMAIL"
           pInputText
           [ngClass]="[this.userForm.controls.EMAIL.invalid && (this.userForm.controls.EMAIL.dirty || this.userForm.controls.EMAIL.touched)  ?'ng-invalid ng-dirty':'']"
           [(ngModel)]="user.EMAIL"/>
    <div
      *ngIf="this.userForm.controls.EMAIL.invalid && (this.userForm.controls.EMAIL.dirty || this.userForm.controls.EMAIL.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2">

      <div *ngIf="this.userForm.controls.EMAIL.errors?.required" [@fadeInOnEnter]>
        <i class="bi bi-exclamation-circle"></i> پست الکترونیکی اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="txt-user_name">نام کاربری</label>
    <input type="text"
           id="txt-user_name"
           required
           formControlName="USER_NAME"
           pInputText
           [ngClass]="[this.userForm.controls.USER_NAME.invalid && (this.userForm.controls.USER_NAME.dirty || this.userForm.controls.USER_NAME.touched)  ?'ng-invalid ng-dirty':'']"
           [(ngModel)]="user.USER_NAME"/>
    <div
      *ngIf="this.userForm.controls.USER_NAME.invalid && (this.userForm.controls.USER_NAME.dirty || this.userForm.controls.USER_NAME.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2">

      <div *ngIf="this.userForm.controls.USER_NAME.errors?.required" [@fadeInOnEnter]>
        <i class="bi bi-exclamation-circle"></i>نام کاربری اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="txt-password">کلمه عبور</label>
    <input type="text"
           id="txt-password"
           required
           formControlName="PASSWORD"
           pInputText
           [ngClass]="[this.userForm.controls.PASSWORD.invalid && (this.userForm.controls.PASSWORD.dirty || this.userForm.controls.PASSWORD.touched)  ?'ng-invalid ng-dirty':'']"
           [(ngModel)]="user.PASSWORD"/>
    <div
      *ngIf="this.userForm.controls.PASSWORD.invalid && (this.userForm.controls.PASSWORD.dirty || this.userForm.controls.PASSWORD.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2">

      <div *ngIf="this.userForm.controls.PASSWORD.errors?.required" [@fadeInOnEnter]>
        <i class="bi bi-exclamation-circle"></i> کلمه عبور اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="txt-user-address">آدرس</label>
    <input type="text"
           id="txt-user-address"
           required
           formControlName="ADDRESS"
           pInputText
           [ngClass]="[this.userForm.controls.ADDRESS.invalid && (this.userForm.controls.ADDRESS.dirty || this.userForm.controls.ADDRESS.touched)  ?'ng-invalid ng-dirty':'']"
           [(ngModel)]="user.ADDRESS"/>
    <div
      *ngIf="this.userForm.controls.ADDRESS.invalid && (this.userForm.controls.ADDRESS.dirty || this.userForm.controls.ADDRESS.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2">

      <div *ngIf="this.userForm.controls.ADDRESS.errors?.required" [@fadeInOnEnter]>
        <i class="bi bi-exclamation-circle"></i> آدرس اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-md-6"></div>

  <div class="p-field p-col-12 p-md-3">
    <button pButton pRipple type="submit" [disabled]="!userForm.valid" label="ذخیره اطلاعات" class="p-button-success"
            icon="bi bi-save" iconPos="left"></button>
  </div>

  <div class="p-field p-col-12 p-md-3">
    <button pButton pRipple type="button" (click)="this.ref.close(null)" label="منصرف شدم"
            class="p-button-outlined p-button-danger" icon="bi bi-x-square" iconPos="left"></button>
  </div>

</form>
