<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	  <httpProtocol>
			<customHeaders>
			  <add name="Access-Control-Allow-Origin" value="http://reports.gngold.ir" />
			  <add name="Access-Control-Allow-Methods" value="*" />
			  <add name="Access-Control-Allow-Headers" value="*" />
			  <add name="Access-Control-Max-Age" value="86400" />
			</customHeaders>
	  </httpProtocol>
     <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="C:\Inetpub\vhosts\gngold.ir\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="C:\Inetpub\vhosts\gngold.ir\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="C:\Inetpub\vhosts\gngold.ir\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="C:\Inetpub\vhosts\gngold.ir\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="C:\Inetpub\vhosts\gngold.ir\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="C:\Inetpub\vhosts\gngold.ir\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="C:\Inetpub\vhosts\gngold.ir\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="C:\Inetpub\vhosts\gngold.ir\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="C:\Inetpub\vhosts\gngold.ir\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="C:\Inetpub\vhosts\gngold.ir\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="C:\Inetpub\vhosts\gngold.ir\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="C:\Inetpub\vhosts\gngold.ir\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="C:\Inetpub\vhosts\gngold.ir\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\Inetpub\vhosts\gngold.ir\error_docs\maintenance.html" />
    </httpErrors>
	 <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="sendToNode">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <connectionStrings>
    <add name="myConnectionStrings" connectionString="Data Source=.;Initial Catalog=GoldShapping_DB;User ID=gngoldi1_sa;Password=M$bzs473" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\gngold.ir\tmp" />
  </system.web>
</configuration>