<form class="edit-user-component p-fluid p-formgrid p-grid" [formGroup]="editDomainForm" (ngSubmit)="saveMenu()">

  <div class="p-field p-col-12 p-md-6">
    <label>نام ثبات والد</label>
    <p-dropdown
      appendTo="body"
      [filter]="true"
      placeholder="انتخاب منوی والد"
      [(ngModel)]="domain.DOM_ID"
      formControlName="DOM_ID"
      [options]="domainTitle"
    ></p-dropdown>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label>کد</label>
    <input type="text"
           [ngClass]="[this.editDomainForm.controls.CODE.invalid && (this.editDomainForm.controls.CODE.dirty || this.editDomainForm.controls.CODE.touched)  ?'ng-invalid ng-dirty':'']"
           formControlName="CODE"
           pInputText
           [ngModel]="domain.CODE"
           (ngModelChange)="changeCode($event)"
            />
    <div
      *ngIf="this.editDomainForm.controls.CODE.invalid && (this.editDomainForm.controls.CODE.dirty || this.editDomainForm.controls.CODE.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2" [@fadeOutOnLeave]>

      <div *ngIf="this.editDomainForm.controls.CODE.errors?.required" [@fadeInOnEnter]>
        <i class="bi bi-exclamation-circle"></i> کد اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label>عنوان</label>
    <input type="text"
           [ngClass]="[this.editDomainForm.controls.TITLE.invalid && (this.editDomainForm.controls.TITLE.dirty || this.editDomainForm.controls.TITLE.touched)  ?'ng-invalid ng-dirty':'']"
           formControlName="TITLE"
           pInputText
           [(ngModel)]="domain.TITLE"/>
    <div
      *ngIf="this.editDomainForm.controls.TITLE.invalid && (this.editDomainForm.controls.TITLE.dirty || this.editDomainForm.controls.TITLE.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2" [@fadeOutOnLeave]>

      <div *ngIf="this.editDomainForm.controls.TITLE.errors?.required" [@fadeInOnEnter]>
        <i class="bi bi-exclamation-circle"></i> عنوان اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label>نام</label>
    <input type="text"
           [ngClass]="[this.editDomainForm.controls.NAME.invalid && (this.editDomainForm.controls.NAME.dirty || this.editDomainForm.controls.NAME.touched)  ?'ng-invalid ng-dirty':'']"
           formControlName="NAME"
           pInputText
           style="text-align: left"
           [(ngModel)]="domain.NAME"/>
    <div
      *ngIf="this.editDomainForm.controls.NAME.invalid && (this.editDomainForm.controls.NAME.dirty || this.editDomainForm.controls.NAME.touched)"
      [ngStyle]="{color:'var(--pink-500)'}" class="p-mt-2" [@fadeOutOnLeave]>

      <div *ngIf="this.editDomainForm.controls.NAME.errors?.required" [@fadeInOnEnter]>
        <i class="bi bi-exclamation-circle"></i> نام اجباری است.
      </div>

    </div>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label>توضیحات</label>
    <input type="text"
           formControlName="DESCRIPTION"
           pInputText
           style="text-align: right"
           [(ngModel)]="domain.DESCRIPTION"/>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label>ترتیب</label>
    <p-inputNumber
      mode="decimal"
      [useGrouping]="false"
      formControlName="ORDERING"
      [(ngModel)]="domain.ORDERING"
    ></p-inputNumber>
  </div>

  <div class="p-field p-col-12 p-md-6" [@fadeInOnEnter]>
    <label>وضعیت</label>
  <div>
    <p-checkbox formControlName="IS_ACTIVE" [(ngModel)]="domain.IS_ACTIVE"
                name="IS_ACTIVE" [binary]="true" label="فعال"></p-checkbox>

  </div>
  </div>

  <div class="p-field p-md-6"></div>


  <div class="p-field p-col-12 p-md-3">
    <button pButton pRipple type="submit" [disabled]="!editDomainForm.valid" label="ذخیره اطلاعات" class="p-button-success"
            icon="bi bi-save" iconPos="left"></button>
  </div>

  <div class="p-field p-col-12 p-md-3">
    <button pButton pRipple type="button" (click)="this.ref.close(null)" label="منصرف شدم"
            class="p-button-outlined p-button-danger" icon="bi bi-x-square" iconPos="left"></button>
  </div>

</form>
